parameters:
    env(DATABASE_URL): 'mysql://root:pass@127.0.0.1:3306/65' # 'sqlite:///%kernel.root_dir%/../var/data/data.sqlite' for test env

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       user
    mailer_password:   password

    env(SYMFONY_SECRET): ThisTokenIsNotSoSecretChangeIt
    env(SYMFONY_LOG):    '%kernel.logs_dir%/%kernel.environment%.log'

    locale: fr