parameters:
    env(DATABASE_URL): 'mysql://root:pass@127.0.0.1:3306/65'

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       user
    mailer_password:   password

    secret:            ThisTokenIsNotSoSecretChangeIt
